In [1]:
import datetime
import requests
import pandas as pd

In [2]:
response=requests.get(url="https://api.gemini.com/v1/symbols")

In [3]:
response

In [4]:
response.json()

['btcusd',
 'btcdai',
 'btcgbp',
 'btceur',
 'btcsgd',
 'ethbtc',
 'ethusd',
 'ethgbp',
 'etheur',
 'ethsgd',
 'ethdai',
 'bchusd',
 'bchbtc',
 'bcheth',
 'ltcusd',
 'ltcbtc',
 'ltceth',
 'ltcbch',
 'zecusd',
 'zecbtc',
 'zeceth',
 'zecbch',
 'zecltc',
 'batusd',
 'batbtc',
 'bateth',
 'linkusd',
 'linkbtc',
 'linketh',
 'daiusd',
 'oxtusd',
 'oxtbtc',
 'oxteth',
 'filusd',
 'ampusd',
 'paxgusd',
 'compusd',
 'mkrusd',
 'zrxusd',
 'kncusd',
 'storjusd',
 'manausd',
 'aaveusd',
 'snxusd',
 'yfiusd',
 'umausd',
 'balusd',
 'crvusd',
 'renusd',
 'uniusd',
 'enjusd',
 'bntusd',
 '1inchusd',
 'sklusd',
 'grtusd',
 'lrcusd',
 'sandusd']

In [5]:
type(response)

requests.models.Response

In [6]:
base_url = "https://api.gemini.com/v2"

In [7]:
response = requests.get(base_url + "/candles/btcusd/15m")

In [8]:
response

In [9]:
len(response.json())

1345

In [10]:
def get_candles_dataframe(json_data:str):
    candles_df=pd.DataFrame(json_data)
    candles_df.columns=["time","open_price","high_price","low_price","close_price","volume"]
    candles_df["time"]=candles_df["time"].apply(lambda x:datetime.datetime.fromtimestamp(x/1000.0))
    return candles_df

In [11]:
df=get_candles_dataframe(response.json())

In [12]:
df.head()

,time,open_price,high_price,low_price,close_price,volume
0,2021-03-24 19:30:00,55163.80,55247.68,55101.01,55216.89,0.783609
1,2021-03-24 19:15:00,55436.95,55476.57,55111.00,55163.80,11.102428
2,2021-03-24 19:00:00,55333.72,55500.00,55311.80,55436.95,12.642304
3,2021-03-24 18:45:00,55529.21,55649.06,55325.54,55333.72,20.905154
4,2021-03-24 18:30:00,55900.01,55924.41,55529.21,55529.21,11.763965

In [13]:
df.tail()

,time,open_price,high_price,low_price,close_price,volume
1340,2021-03-10 20:30:00,56597.52,56597.52,56062.00,56062.00,45.991235
1341,2021-03-10 20:15:00,56738.59,56786.06,56199.98,56597.52,52.490627
1342,2021-03-10 20:00:00,56752.98,56980.00,56538.37,56738.59,51.907660
1343,2021-03-10 19:45:00,56837.90,57097.94,56645.66,56752.98,21.730557
1344,2021-03-10 19:30:00,57071.79,57154.42,56812.09,56837.90,11.959075

In [14]:
response1 = requests.get(base_url + "/candles/btcusd/1day")
df1=get_candles_dataframe(response1.json())

In [15]:
df1.head()

,time,open_price,high_price,low_price,close_price,volume
0,2021-03-24 04:00:00,54375.12,57245.00,53752.08,55210.43,1281.153655
1,2021-03-23 04:00:00,54710.81,55903.62,53000.00,54375.12,1916.143712
2,2021-03-22 04:00:00,57551.47,58445.36,53733.67,54710.81,1771.204788
3,2021-03-21 04:00:00,57833.32,58164.58,55500.00,57551.47,781.348959
4,2021-03-20 04:00:00,58428.90,59880.00,57469.36,57833.32,774.222534

In [16]:
df1.tail()

,time,open_price,high_price,low_price,close_price,volume
361,2020-03-28 04:00:00,6127.86,6334.28,6038.09,6219.79,1440.854602
362,2020-03-27 04:00:00,6821.95,6850.00,6071.87,6127.86,2960.203444
363,2020-03-26 04:00:00,6747.55,6869.50,6530.01,6821.95,2263.057246
364,2020-03-25 04:00:00,6577.72,6977.69,6471.08,6747.55,4540.126200
365,2020-03-24 04:00:00,6560.95,6866.70,6405.00,6577.72,6312.896540

In [17]:
response2 = requests.get(base_url + "/candles/btcusd/1hr")
df2=get_candles_dataframe(response2.json())

In [18]:
response3 = requests.get(base_url + "/candles/btcusd/6hr")
df3=get_candles_dataframe(response3.json())

In [19]:
response4 = requests.get(base_url + "/candles/btcusd/5m")
df4=get_candles_dataframe(response4.json())

In [20]:
newdf=pd.concat([df,df1,df2,df3,df4],axis=0)

In [21]:
newdf.shape

(5550, 6)

In [22]:
newdf.drop_duplicates(inplace=True)

In [23]:
newdf.shape

(5550, 6)

In [24]:
btc_df=newdf[["time","close_price"]]

In [25]:
btc_df.head()

                 time  close_price
0 2021-03-24 19:30:00     55216.89
1 2021-03-24 19:15:00     55163.80
2 2021-03-24 19:00:00     55436.95
3 2021-03-24 18:45:00     55333.72
4 2021-03-24 18:30:00     55529.21

In [26]:
btc_df=btc_df.sort_values(by='time',ignore_index=True)

In [27]:
btc_df.head()

                 time  close_price
0 2020-03-24 04:00:00      6577.72
1 2020-03-25 04:00:00      6747.55
2 2020-03-26 04:00:00      6821.95
3 2020-03-27 04:00:00      6127.86
4 2020-03-28 04:00:00      6219.79

In [28]:
btc_df.shape

(5550, 2)

In [29]:
btc_df.to_csv("bitcoin.csv")